# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
/*.manifest
/*.spec
!TenderTracker.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosenv/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.hypothesis/
.run/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
#   For a library or app, you might want to share your .python-version if you've
#   tested with it and it works. But for a project it can be custom.
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if delegates have different OS or architecture,
#   it should be ignored.
# Pipfile.lock

# poetry
#   Similar to Pipfile.lock, poetry.lock contains specific versions of dependencies
#   poetry.lock

# pdm
#   Similar to Pipfile.lock, pdm.lock contains specific versions of dependencies
# pdm.lock
#   pdm local configuration
.pdm.toml
.pdm-plugins/

# venv
#   Use standard virtualenv directories
.venv/
venv/
ENV/
env/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject

# Excel files generated during run/test
*.xlsx

# Local environment / system files
.env
.env.local
.DS_Store
Thumbs.db
*.log
